@import "tailwindcss";

 @theme{
  --color-primary:#4F39F6;
  --color-para:#6B7582;
  --color-secondary:#00ffff;
  --color-dark:#000;
  --text-large:2rem;
  --text-medium:1.5rem;
  --text-small:1rem;
  --spacing-primary:36px;
  --spacing-secondary:16px;
  --radius-primary:20px;
 --shadow-primary:0px 0px 10px -4px white;
 --shadow-secondary:0px 2px 10px -5px #ffffffaf;
 --shadow-dark:0px 2px 10px -5px #000;
  
 }
@custom-variant dark (&:where(.dark, .dark *));
 